.fig {
  display: block;
  border: 1px dashed rgb(119, 119, 119);
  position: absolute;
  padding: 5px;
}

.addRight {
  position: absolute;
  right: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-right: -20px;
  margin-top: -20px;
  display: block;
  background-color: rgb(104, 185, 79);
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.addBelow {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-bottom: -20px;
  background-color: rgb(104, 185, 79);
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
