.imageChooser {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background: #fff;
  padding: 20px;
  border: 1px solid #666;
  box-shadow: 5px 5px 60px rgba(0, 0, 0, .4)
}
