.projects {
  padding: 5px;
}

.addNew {
  margin: 0 0 5px 0 ;
  background-color: rgb(104, 185, 79);
  color: #fff;
  font-size: 14px;
  display: block;
  padding: 10px;
}

.project {
  padding: 10px;
  margin: 0;;
}

.project.selected {
  background-color: #3DA0E5;
}
