.projectSettings {
  padding: 10px;
  background: rgba(0,0,0,.3);
}


.btnSave {
  margin: 0 0 5px 0 ;
  background-color: rgb(104, 185, 79);
  color: #fff;
  font-size: 14px;
  display: block;
  padding: 10px;
}


label {
  display: flex;
  margin-bottom: 5px;
}

label span {
  flex: 1;
}

label input {
  width: 55%;
  padding: 5px;
  background: rgba(255,255,255,.3);
  border: 1px solid #fff;
  color: #FFF;
}