.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: #2F3A4C;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.leftCol {
  width: 250px;
  color: #fff;
}

.rightCol {
  background: #E7EAF0;
  padding: 20px;
  flex: 1;
  overflow: auto;
}
